
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Artisan Morph</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="http://localhost:8001/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="http://localhost:8001/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:8001/css/magnific-popup.css" />
    <link rel="stylesheet" href="http://localhost:8001/css/jquery-ui.css" />
    <link rel="stylesheet" href="http://localhost:8001/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="http://localhost:8001/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="http://localhost:8001/css/aos.css" />
    <link rel="stylesheet" href="http://localhost:8001/css/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet"/>
  </head>
  <body>  <div class="site-wrap">

    <!-- nav -->
      <header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">

          </div>

          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
            <div class="site-logo">
              <a href="http://localhost:8001/" class="js-logo-clone">Artisan Morph</a>
            </div>
          </div>
          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
            <div class="site-top-icons">
              <ul>
                <li>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span data-bind="label">Language</span>&nbsp;<span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: auto;">
                      <a class="dropdown-item" href="javascript:;" onclick="changeSession('eng')"><span class="flag-icon flag-icon-gb"></span> ENG</a>
                      <a class="dropdown-item" href="javascript:;" onclick="changeSession('idn')"><span class="flag-icon flag-icon-id"></span> IDN</a>
                    </div>
                  </div>
                </li>
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li><a href="http://localhost:8001/home">Home</a></li>
          <li><a href="http://localhost:8001/available">Available</a></li>
          <li><a href="http://localhost:8001/breeding">Breeding</a></li>
          <li><a href="http://localhost:8001/gallery">Gallery</a></li>
          <li><a href="http://localhost:8001/contactUs">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </header>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="http://localhost:8001//Home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Single</strong></div>
        </div>
      </div>
    </div> 
        <div class="site-section pt-5" style="margin-top: 100px; margin-bottom: 20px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="http://admin.dwikaarief.com/assets/images/upload/product/6991074c98876af55241d60dc14f446d.jpeg" alt="Image" class="img-thumbnail">
          </div>
          <div class="col-md-6">
          <div class="row">
            <div class="col-sm">
              <h2 class="text-black">Kuning Hitam</h2>
            </div>
            <div class="col-sm">
               <h3 class="text-black">Rp 300.000</h3>            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">Sex</span>
                </div>
                <div class="col-9">
                  male                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">ID</span>
                </div>
                <div class="col-9">
                  085b0e4c-1b83-4ad5-8aeb-f4d03900be47                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">DoB</span>
                </div>
                <div class="col-9">
                  01-12-2021                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">Clutch</span>
                </div>
                <div class="col-9">
                  Kuning Hitam                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">Weight</span>
                </div>
                <div class="col-9">
                  43                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">Sire</span>
                </div>
                <div class="col-9">
                                -
                                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">Traits</span>
                </div>
                <div class="col-9">
                                    <span class="badge badge-pill badge-primary">test1</span>
                                    <span class="badge badge-pill badge-primary">test2</span>
                                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-3">
                  <span class="font-weight-bold">Dame</span>
                </div>
                <div class="col-9">
                                    -
                                  </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light pt-5 pb-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  Note
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>dsadasd</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="site-section block-3 site-blocks-2">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12">
                 <div class="col-md-12 site-section-heading text-center pt-4">
                  <h2>Recent Feedings</h2>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="nonloop-block-3 owl-carousel">
                              <div class="item">
                  <div class="block-4 text-center">
                    <figure class="block-4-image">
                      <img src="http://admin.dwikaarief.com/assets/images/upload/feedings/4328622c391a64c94caded4c73097d9e.jpg" alt="Image placeholder" class="img-fluid">
                    </figure>
                    <div class="block-4-text p-4">
                                            <p class="mb-0 font-weight-bold font-italic text-muted">
                        Friday 21st January 2022                      </p>
                      <p class="mb-0 font-weight-bold font-italic text-muted">
                        4:00pm                      </p>
                    </div>
                  </div>
                </div>
                            </div>
            </div>
          </div>
        </div>
      </div>
    <!-- copyright -->
    <br /><br />
        <footer class="site-footer border-top">
      <div class="container">
        <div class="col-md-12 text-center">
          <p>
            Copyright &copy;<script data-cfasync="false" src="#"></script>
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | <a href="#" target="_blank" class="text-primary">Artisan Morph</a>
          </p>
        </div>
      </div>
    </footer>
  </div>

</body>
</html>

<script src="http://localhost:8001/js/jquery-3.3.1.min.js"></script>
<script src="http://localhost:8001/js/jquery-ui.js"></script>
<script src="http://localhost:8001/js/popper.min.js"></script>
<script src="http://localhost:8001/js/bootstrap.min.js"></script>
<script src="http://localhost:8001/js/owl.carousel.min.js"></script>
<script src="http://localhost:8001/js/jquery.magnific-popup.min.js"></script>
<script src="http://localhost:8001/js/aos.js"></script>
<script src="http://localhost:8001/js/main.js"></script>
<script type="text/javascript">
    $( document.body ).on( 'click', '.dropdown-menu a', function( event ) {

      var $target = $( event.currentTarget );

      $target.closest( '.dropdown' )
         .find( '[data-bind="label"]' ).text( $target.text() )
            .end()
         .children( '.dropdown-toggle' ).dropdown( 'toggle' );

      return true;

    });
    
    function changeSession(lang){
        $.ajax({
            type: "POST",
            url: "http://localhost:8001/language",
            data:{ lang: lang }
        }).done(function(result) {
            location.reload();
        });
    }
</script>