{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div class="site-wrap">
    <div class="site-blocks-cover">
        <div class="container">
            <img style="margin-top: 170px;"
                 src="http://admin.dwikaarief.com/assets/images/upload/header/HeaderImg.jpg" class="header-img"/>
            <span class="text-justify text-black font-weigh-bold">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </span>
        </div>
    </div>
    <div class="site-blocks-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 site-section-heading text-left pt-4">
                    <h2>Available</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <div class="block-4 text-center border">
                        <div class="block-4-image">
                            <a href="http://web.morph.local:8001/single/04914751-47b9-4bf5-bc92-069e83daf52b">
                                <img
                                    src="http://admin.dwikaarief.com/assets/images/upload/product/acb1f87b9961c591b025c938f52b46a6.jpeg"
                                    alt="Image placeholder" class="img-fluid-styles">
                            </a>
                        </div>
                        <div class="block-4-text p-4 img-title">
                            <h3>
                                <a href="http://web.morph.local:8001/single/04914751-47b9-4bf5-bc92-069e83daf52b">
                                    <span>
                                      <p class="text-truncate text-black"
                                         style="max-width: inherit; padding-right: 10px;">
                                        Hitam Corak Kuning </p>
                                      <p style="float: right;margin-top: -40px;" class="text-black ml-3">
                                          <svg xmlns="http://www.w3.org/2000/svg" stroke="black" stroke-width="1"
                                               width="16"
                                               height="16" fill="currentColor" class="bi bi-gender-male"
                                               viewBox="0 0 16 16">
                                              <path fill-rule="evenodd"
                                                    d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                                            </svg>
                                      </p>
                                    </span>
                                </a>
                            </h3>
                            <p class="mb-0 text-black">Hitam Corak Kuning </p>
                            <span class="text-black font-weight-bold">Rp 400.000</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <div class="block-4 text-center border">
                        <div class="block-4-image">
                            <a href="http://web.morph.local:8001/single/bd53caf6-0be4-40e3-9d40-91b63ae289c6"><img
                                    src="http://admin.dwikaarief.com/assets/images/upload/product/7b0676f21a71f6b3881705e4410107d5.jpeg"
                                    alt="Image placeholder" class="img-fluid-styles"></a>
                        </div>
                        <div class="block-4-text p-4 img-title">
                            <h3>
                                <a href="http://web.morph.local:8001/single/bd53caf6-0be4-40e3-9d40-91b63ae289c6">
                                    <span>
                                      <p class="text-truncate text-black"
                                         style="max-width: inherit; padding-right: 10px;">
                                        Kepala Cokelat
                                      </p>
                                      <p style="float: right;margin-top: -40px;" class="text-black ml-3">
                                          <svg xmlns="http://www.w3.org/2000/svg" stroke="black" stroke-width="1"
                                               width="16"
                                               height="16" fill="currentColor" class="bi bi-gender-male"
                                               viewBox="0 0 16 16">
                                              <path fill-rule="evenodd"
                                                    d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
                                            </svg>
                                      </p>
                                    </span>
                                </a>
                            </h3>
                            <p class="mb-0 text-black">Kepala Cokelat </p>
                            <span class="text-black font-weight-bold">Rp 800.000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section block-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 site-section-heading text-left pt-4">
                    <h2>Youtube</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Latest Video</h3>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mb-lg-0 aos-init aos-animate">
                    <div class="col text-center">
                        <iframe class="youtube-frame" src="https://www.youtube.com/embed/aRnk4zRZaBg"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    {% include 'layouts/footer.html.twig' %}
{% endblock %}