<footer class="site-footer border-top">
    <div class="container">
        <div class="col-md-12 text-center">
            <p>
                Copyright &copy;<script data-cfasync="false" src="#"></script>
                <script>
                    document.write(new Date().getFullYear());
                </script>
                All rights reserved | <a href="#" target="_blank" class="text-primary">Artisan Morph</a>
            </p>
        </div>
    </div>
</footer>