{% include "layouts/header.html.twig" %}
<body>
<div class="site-wrap">
    {% include "layouts/navigation.html.twig" %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>

<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
    $(document.body).on('click', '.dropdown-menu a', function (event) {

        var $target = $(event.currentTarget);

        $target.closest('.dropdown')
            .find('[data-bind="label"]').text($target.text())
            .end()
            .children('.dropdown-toggle').dropdown('toggle');

        return true;

    });

    function changeSession(lang) {
        $.ajax({
            type: "POST",
            url: "/language",
            data: {lang: lang}
        }).done(function (result) {
            location.reload();
        });
    }

    $('.filters').on('change', function () {
        var price = new Array();
        $('input[name=morph]:checked').each(function () {
            morph.push($(this).val());
        });
        var colors = new Array();
        $('input[name=colors]:checked').each(function () {
            colors.push($(this).val());
        });
        var paramsArray = []
        var morphsParams = createParamList(morph, 'morph');
        var colorsParams = createParamList(colors, 'colors');
        if (morphsParams) {
            paramsArray.push(morphsParams);
        }
        if (colorsParams) {
            paramsArray.push(colorsParams);
        }
        alert('http://localhost/test/javascript.php?' + paramsArray.join('&'));
    });

    function createParamList(arrayObj, prefix) {
        var result = arrayObj.map(function (obj) {
            return prefix + '=' + obj;
        }).join('&');
        return result;

    }
</script>