<!-- nav -->
<header class="site-navbar" role="banner">
    <div class="site-navbar-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                </div>
                <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                    <div class="site-logo">
                        <a href="/" class="js-logo-clone">Artisan Morph</a>
                    </div>
                </div>
                <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                    <div class="site-top-icons">
                        <ul>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <span data-bind="label">Language</span>&nbsp;<span class="caret"></span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                         style="min-width: auto;">
                                        <a class="dropdown-item" href="javascript:;" onclick="changeSession('eng')">
                                            <span class="flag-icon flag-icon-gb"></span> ENG
                                        </a>
                                        <a class="dropdown-item" href="javascript:;" onclick="changeSession('idn')">
                                            <span class="flag-icon flag-icon-id"></span> IDN
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="d-inline-block d-md-none ml-md-0">
                                <a href="#" class="site-menu-toggle js-menu-toggle">
                                    <span class="icon-menu"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">
                <li><a href="/home">Home</a></li>
                <li><a href="/available">Available</a></li>
                <li><a href="/breeding">Breeding</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</header>