
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Artisan Morph</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/assets/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/assets/css/aos.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link href="/assets/css/flag-icon.min.css" rel="stylesheet"/>
  </head>
  <body>
<div class="site-wrap">

    <!-- nav -->
      <header class="site-navbar" role="banner">
    <div class="site-navbar-top">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">

          </div>

          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">Artisan Morph</a>
            </div>
          </div>
          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
            <div class="site-top-icons">
              <ul>
                <li>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span data-bind="label">Language</span>&nbsp;<span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width: auto;">
                      <a class="dropdown-item" href="javascript:;" onclick="changeSession('eng')"><span class="flag-icon flag-icon-gb"></span> ENG</a>
                      <a class="dropdown-item" href="javascript:;" onclick="changeSession('idn')"><span class="flag-icon flag-icon-id"></span> IDN</a>
                    </div>
                  </div>
                </li>
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li><a href="/home">Home</a></li>
          <li><a href="/available">Available</a></li>
          <li><a href="/breeding">Breeding</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/contactUs">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </header>    
    <div style="padding-top:10rem!important;">
      <div class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="//Home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Available</strong></div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12 mt-lg-5 mt-sm-4">
                <div class="float-md-left mb-4">
                  <h2 class="text-black h3">Available</h2>
                </div>
                <div class="d-flex">
                  <!-- <div class="dropdown mr-1 ml-md-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                      Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/available?filter=date" >Date</a>
                      <a class="dropdown-item" href="?filter=status">Status</a>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                  <div class="block-4 text-center border">
                    <div class="block-4-image">
                      <a href="/single/04914751-47b9-4bf5-bc92-069e83daf52b"><img src="http://admin.dwikaarief.com/assets/images/upload/product/acb1f87b9961c591b025c938f52b46a6.jpeg" alt="Image placeholder" class="img-fluid-styles"></a>
                    </div>
                    <div class="block-4-text p-4">
                      <h3>
                        <a href="/single/04914751-47b9-4bf5-bc92-069e83daf52b">
                          <span>
                            <p class="text-truncate text-black text-left" style="max-width: inherit; padding-right: 15px;">
                              Hitam Corak Kuning                            </p>
                            <p style="float: right;margin-top: -40px;" class="text-black ml-3">
                                                              <svg xmlns="http://www.w3.org/2000/svg" stroke="black" stroke-width="1" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z" />
                                </svg>
                                                          </p>
                          </span>
                        </a>
                      </h3>
                      <p class="mb-0 text-left text-black" style="margin-top: -12px;">Hitam Corak Kuning                        <span class="text-black font-weight-bold" style="float: right; margin-top: -25px;">
                           <span class="text-black font-weight-bold">Rp 400.000</span>                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                  <div class="block-4 text-center border">
                    <div class="block-4-image">
                      <a href="/single/bd53caf6-0be4-40e3-9d40-91b63ae289c6"><img src="http://admin.dwikaarief.com/assets/images/upload/product/7b0676f21a71f6b3881705e4410107d5.jpeg" alt="Image placeholder" class="img-fluid-styles"></a>
                    </div>
                    <div class="block-4-text p-4">
                      <h3>
                        <a href="/single/bd53caf6-0be4-40e3-9d40-91b63ae289c6">
                          <span>
                            <p class="text-truncate text-black text-left" style="max-width: inherit; padding-right: 15px;">
                              Kepala Cokelat                            </p>
                            <p style="float: right;margin-top: -40px;" class="text-black ml-3">
                                                              <svg xmlns="http://www.w3.org/2000/svg" stroke="black" stroke-width="1" width="16" height="16" fill="currentColor" class="bi bi-gender-male" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z" />
                                </svg>
                                                          </p>
                          </span>
                        </a>
                      </h3>
                      <p class="mb-0 text-left text-black" style="margin-top: -12px;">Kepala Cokelat                        <span class="text-black font-weight-bold" style="float: right; margin-top: -25px;">
                           <span class="text-black font-weight-bold">Rp 800.000</span>                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              
            </div>
            <div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center font-weight-bold">
                <nav>
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                                          </li>
                    				
                    <li class="page-item">
                      <a  class="page-link" >Next</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- copyright -->
        <footer class="site-footer border-top">
      <div class="container">
        <div class="col-md-12 text-center">
          <p>
            Copyright &copy;<script data-cfasync="false" src="#"></script>
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | <a href="#" target="_blank" class="text-primary">Artisan Morph</a>
          </p>
        </div>
      </div>
    </footer>    
</div>

</body>
</html>

<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
    $( document.body ).on( 'click', '.dropdown-menu a', function( event ) {

      var $target = $( event.currentTarget );

      $target.closest( '.dropdown' )
         .find( '[data-bind="label"]' ).text( $target.text() )
            .end()
         .children( '.dropdown-toggle' ).dropdown( 'toggle' );

      return true;

    });
    
    function changeSession(lang){
        $.ajax({
            type: "POST",
            url: "/language",
            data:{ lang: lang }
        }).done(function(result) {
            location.reload();
        });
    }
</script>