{% extends 'layouts/layout.html.twig' %}

{% block content %}
    {% include 'layouts/breadcrumb.html.twig' %}
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 mt-lg-5 mt-sm-4">
                            <div class="float-md-left mb-4"><h2 class="text-black h3">Facility</h2></div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        {% for item in paginator %}
                            {# {{ dump(item.image.fullpath) }} #}
                            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                <div class="block-4 text-center border">
                                    <div class="block-4-image">
                                        <a href="#">
                                            <img
                                                src="{{ item.image ? app.request.getSchemeAndHttpHost() ~ item.image.fullpath : "#" }}"
                                                alt="Image" class="img-fluid-styles">
                                        </a>
                                    </div>
                                    <div class="block-4-text p-4">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'includes/pagination.html.twig' %}
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 mt-lg-5 mt-sm-4">
                            <div class="float-md-left mb-4"><h2 class="text-black h3">Snacks</h2></div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        {% for item in paginatorSnacks %}
                            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                <div class="block-4 text-center border">
                                    <div class="block-4-image">
                                        <a href="#">
                                            <img
                                                src="{{ item.image ? app.request.getSchemeAndHttpHost() ~ item.image.fullpath : "#" }}"
                                                alt="Image" class="img-fluid-styles">
                                        </a>
                                    </div>
                                    <div class="block-4-text p-4">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'includes/pagination-snacks.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'layouts/footer.html.twig' %}
{% endblock %}